<div class="flex flex-col items-start content-stretch justify-items-start justify-stretch gap-y-1 py-1">
  <span>{{label}}</span>
  <div class="w-full flex gap-2 items-end justify-between text-lg">
      <span class="font-bold">{{formattedValue}}</span>
      <span class="text-contour-weak text-md">in <time class="font-bold">{{year}}<time></span>
  </div>
  <span class="font-normal text-left">under the <strong class="font-bold">{{scenario}}</strong> scenario</span>
  <div class="w-full font-normal border-t border-contour-weakest flex justify-between gap-2 items-center pt-2 mt-1 text-contour-weak text-sm">
    <span class="leading-tight">Global warming</span>
    <span>{{formattedGmt}}</span>
  </div>
</div>
